+++
title = "libmcu"
linkTitle = "libmcu"

+++

{{< blocks/cover title="" image_anchor="center" height="full" color="primary" >}}
<div class="mx-auto">
	<img src="logo.svg" />

	<p class="lead mt-5">Development Toolkits for Microcontrollers</p>

	<p style="color:#6b6159"><br />Coming soon.</p>
<!--
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Getting Started
	</a>

	<p> {{< blocks/link-down color="info" >}} </p>
-->
</div>
{{< /blocks/cover >}}

<!--
{{% blocks/lead color="primary" %}}
<div class="mx-auto">
	<b>libmcu</b> empowers teams to build more robust devices and get
	started easily with different types of microcontrollers.
</div>
{{% /blocks/lead %}}

{{< blocks/section >}}
{{% blocks/feature icon="fa fa-code" title="Open Source" %}}
There is nothing you can't see. Free to use in commercial and non-commercial solutions.
{{% /blocks/feature %}}
{{% blocks/feature icon="fa fa-microchip" title="Extensible & Flexible" %}}
The same source code runs on a variety of RTOSs and hardwares even with different kinds of microcontrollers.
{{% /blocks/feature %}}
{{% blocks/feature icon="fa fa-rocket" title="Accelerate time to market" %}}
It helps you focus on the business logic, not on software development infrastructure.
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section color="white" >}}
<div class="col">
<h1 class="text-center">What We Do</h1>
	<br />
	<p>
		We offer what facilitate microcontroller development in four
		areas:
		<ul>
			<li>Firmware Development</li>
			<li>Development Boards</li>
			<li>Web Application</li>
			<li>Cloud Service</li>
		</ul>
	</p>

<h2 class="text-left">Firmware Development</h2>

<h2 class="text-left">Development Boards</h2>

<h2 class="text-left">Web Application</h2>

<h2 class="text-left">Cloud Service</h2>

</div>
{{< /blocks/section >}}
-->
